<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>ViHub</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <style>
        @import "/stylesheet/bootstrap.css";
    </style>
</head>

<nav id="navbar" class="height90">
  <a th:href="@{/home}">
    <img id="logo-at-navbar" th:src="@{../images/ViHubLogoWhite.png}" alt="ViHub Logo">
  </a>
  <div id="sections">
    <a th:href="@{/add_video}">+</a>
    <a th:href="@{/subscriptions}">Подписки</a>
    <a th:href="@{/recommendations}">Рекомендации</a>
    <a th:href="@{/profile}">Профиль</a>
  </div>
</nav>
<body layout:fragment="body"></body>
<footer class="bg-blue py-4 mt-auto height90">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Your ViHub 2024</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
</html>


