<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <style>
        @import "/stylesheet/bootstrap.css";
        body {
            background-size: 100% 100%;
            font-family: Arial, sans-serif;
            background: #f9f9f9 url("/images/profile-edit-background.jpg") no-repeat 50% 50%;
            margin: 0;
            padding: 0;
        }
        .password-change-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: rgb(255, 255, 255, 0.9);
            border-radius: 15px;
            box-shadow: 0 0 25px 10px rgba(75, 68, 68, 0.644);
        }
    </style>

</head>
<body>

<main class="flex-shrink-0">
    <section class="py-5">
        <div class="password-change-container">
        <div class="center">
            <form role="form" method="post" th:action="@{/profile/password-change}" th:object="${passwordChangeDto}">
                <div class="row">
                    <div class="align-content-center">
                        <div class="input-box">

                            <input type="password" placeholder="Текущий пароль" id="oldPassword"
                                   th:field="*{oldPassword}">
                            <img th:src="@{../images/eye-close.png}" id="eyeIcon">
                        </div>
                        <div class="input-box">

                            <input type="password" placeholder="Новый пароль" id="newPassword"
                                   th:field="*{newPassword}">
                            <p th:if="${#fields.hasErrors('newPassword')}" class="text-danger"
                               th:errors="*{newPassword}"></p>
                        </div>
                        <div class="input-box">

                            <input type="password" placeholder="Подтвердите новый пароль" id="newPasswordConfirm"
                                   th:field="*{newPasswordConfirm}">
                        </div>
                        <div class="mt-3 text-center">
                            <div th:if="${error}" class="alert alert-danger-shorter" role="alert">
                                <p th:text="${error}"></p>
                            </div>
                        </div>
                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-primary-password">Сохранить</button>
                            <div class="mt-2 text-center">
                                <a class="btn btn-danger-password " th:href="@{/profile/edit}">Назад</a>
                            </div>

                        </div>
                    </div>
                </div>

                <script>
                    let eyeIcon = document.getElementById("eyeIcon");
                    let oldPassword = document.getElementById("oldPassword");
                    let newPassword = document.getElementById("newPassword");
                    let newPasswordConfirm = document.getElementById("newPasswordConfirm");
                    eyeIcon.onclick = function () {
                        if (oldPassword.type === "password") {
                            oldPassword.type = "text";
                        } else {
                            oldPassword.type = "password"
                        }
                        if (newPassword.type === "password") {
                            newPassword.type = "text";
                        } else {
                            newPassword.type = "password"
                        }
                        if (newPasswordConfirm.type === "password") {
                            newPasswordConfirm.type = "text";
                        } else {
                            newPasswordConfirm.type = "password"
                        }
                    }
                </script>
            </form>
        </div>
        </div>
    </section>
</main>
</body>
</html>