<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Recommendation Page</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}" />
    <style>
        @import "/stylesheet/bootstrap.css";
    </style>
</head>
<body>
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class=" py-5 container py-4 mt-sm-0 mb-sm-0 px-4 px-lg-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">Recommendations!</h1>
                <p class="lead fw-normal text-black-50 mb-0">your recommendations:</p>
            </div>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div th:each="video:${videoRecommendationDtoResponses}" class="card">
<!--                        <div id="videoTemplate" class="position-relative mb-5">-->
                            <!-- Video image-->
                            <img th:src="${video.url}" height="300" class="card-img-top" alt="...">
                            <!-- Video details-->
                            <div  class="card-body p-4">
                                <div class="text-center">
                                    <!-- Video name-->
                                    <h5 th:text="${video.title}" class="fw-bolder">Криминальное чтиво</h5>
                                    <a th:text="${video.description}">Description</a>
                                </div>
                            </div>
                            <!-- Video actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Film</a></div>
                            </div>
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>