#navbar {
  background-color: blue;
  overflow: hidden;
  height: 50px; /* высота navbar */
  display: flex; /* используем flexbox */
  justify-content: space-between; /* размещаем элементы внутри navbar с равными промежутками между ними */
  align-items: center; /* выравниваем элементы по центру по вертикали */
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 0 20px; /* отступы по бокам */
  height: 100%; /* чтобы переходы занимали всю высоту navbar */
  display: flex; /* используем flexbox */
  align-items: center; /* выравниваем текст по центру по вертикали */
}

#navbar a:hover {
  background-color: #ddd;
  color: blue;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

#logo-at-navbar {
  height: 100%; /* чтобы картинка занимала всю высоту navbar */
  max-height: 50px; /* задаем максимальную высоту, чтобы не выходила за пределы navbar */
}
